<%= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :status, input_html: { class: 'special'}, :collection => [[true,'Married'],[false,'Unmarried']], label_method: :last, value_method: :first, as: :radio  %>
  <%= f.input :appellation, :collection => [[0,'Mr'],[1,'Mrs']], label_method: :last, value_method: :first, as: :radio  %>
  <%= f.input :sex, :collection => ['Female','Male'],as: :radio  %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
